* {
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  width: 800px;
  border: 1px solid darkslategray;
  margin: 0 auto;
}

.flex-colom {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.box {
  /* flex-grow: 1; */
  flex-basis: 25%;

  background-color: bisque;
  border: 1px solid darkslategray;
  padding: 40px;
  text-align: center;
  font-size: 1.3em;
}

.flex-row:last-child .box:last-child {
  /* flex-grow: 2; */
  flex-basis: 50%;
}
